--extra-index-url https://download.pytorch.org/whl/cpu
torch
datasets
huggingface_hub
pandas
pyarrow
sentence-transformers
faiss-cpu
fastapi
uvicorn
python-multipart
numpy
sarvamai
groq
python-dotenv
onnxruntime